@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');


HTML, BODY {
  height: 100%;
}
body {
  margin: 0;
  background-color: white;
  font-size: 1rem;
}

@keyframes Enter{
   from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.main_container{
  box-sizing: border-box;
}
.container{
	position: relative;
	margin-top: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.box{
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  margin-bottom: 50px;
}
.welcome{
  position: relative;
  font-family: 'Inconsolata', monospace;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.15em;
  display: flex;
  
  width: 100%;
  line-height: 1.7;
  color: black;
  margin: 4rem 0 0 2rem;
  padding: 0 ;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  animation:  

}
@keyframes typing{
  from {width: 0; border-right: 0.05em solid black;}
  to {width: 100%; border-right: 0.05em solid black;}
  
}
@keyframes blink{
  from {border-color: transparent}
  50% {border-color: black}
}
.shapeBackground3{
  background-color: black;
  position: absolute;
  overflow: hidden;
  width: 43%;
  height: 45rem;
}

.nav{
  margin: 6rem 0 0 0rem;
	display: grid;
  justify-content: space-evenly;
  
}
.nav li{
	width: 9.7rem;
  padding: 2rem 1rem;
  margin: 1rem 0 0 0;
  list-style-type: none;
  /* border-radius: 999px;
  border: 0.5px solid grey; */
  background-color: white;
  text-align: center;
  width: 20rem;
  cursor: pointer;
  box-shadow: 10px 5px 15px lightgrey;

}
.nav li:hover{
  background-color: #e5a1a7;
  box-shadow: none;
}
.nav li:hover .navLink{
  color: white;
}

.navLink{
  font-size: 1.7rem;
	text-decoration: none;
	cursor:pointer;
	color: #e5a1a7;
	font-weight: 900;

}
pre{
  position: relative;
  margin: 3rem 2rem 0 2rem;
  color: grey;
  line-height: 1.4;
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 1.3vw;
 letter-spacing: 1px;
 font-weight: 600;
 width: 40%;
}
.color{
  color: white;
  /* text-decoration: underline; */
}
/* /////Footer///// */

.social{
  /* background-color: #e5a1a7; */
  /* width: 56vw; */
  width: 100%;
  display: block;
  float: right;
  height: 65px;
  display: flex;
  justify-content: flex-end;
  padding: 0 4rem 0 0;
  position: fixed;
  bottom: 0;
  animation: none;
  /* border-left: 40.8rem solid black; */
  
}
span{
  margin: 0.5rem;
  animation: none;
}
.social p{
  color: #e5a1a7;
  font-family: 'Monoton', cursive;;
}


/* /////////WORK///////// */
.portfolioBox{
  width: 100%;
  background-color: rgba(0,0,0, 0.93);
  margin: 0;
}
.portfolio{
  color: white;
  margin: 0;
  text-align: center;
  padding: 2rem 0 0 0;
  font-size: 3rem;
  font-family: 'Fredericka the Great', cursive;
  
}
.work_container{
  background-color: rgba(0,0,0, 0.93);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding: 4rem 2rem 30rem 2rem;
  
}
.workCard{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 5rem 0;
}
.work_box{
  perspective: 1000px;
  background-color: transparent;
  width: 250px;
  height: 300px;
  border: 1px solid black;
  cursor: pointer;

}
.cardHeader{
  color: white;
  text-decoration: underline;
  font-size: 1.4rem;
}
.inner_box{
  width: 100%;
  height: 100%;
  position: relative;
  transition:  transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}
.work_box:hover .inner_box{
  transform: rotateY(180deg);
}
.front_card{
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  }
img{
  width: 16rem;
  height: 19rem;
 
}
.img{
  border-radius: 15px;
  margin: 0;
}
.back_card{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 1rem 2rem;
  margin-bottom: -2rem; */
}
.back_card h1{
  color: grey;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0rem;
  line-height: 1.4;
}
.back_card p{
  background-color:rgba(199, 100, 109, 0.2) ;
  /* color: white; */
  font-size: 1.1rem;
  text-align: center;
  padding: 1.5rem 0.3rem;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Caveat Brush', cursive;
}

.visit{
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
  height: 2rem;
}
.a{
  /* color:#c7646d ; */
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  color: black;
}
.a:hover{
  color:#e5a1a7 ;
}
.a2{
  /* color:#c7646d ; */
  text-decoration: none;
  cursor: pointer;
  font-weight: bolder;
  color:#c7646d;
}
.a2:hover{
  color:#e5a1a7 ;
}

/* //////ABOUT/////// */
.about h1{
	font-family: 'Inconsolata', monospace;
	font-size: 3rem;
	margin: 3rem 0 1rem 3rem;
  font-weight: 900;
  animation: FadeIn ease 8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
 
}
.about_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	animation: FadeIn ease 8s ;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
 position: relative;
 margin-top: 2rem;
}

img{margin-top: 2rem;}
.about_container p{
	background-color: rgba(250,250,250,0.5);
	color: black;
	font-size: 1.5rem;
	text-align: left;
	padding: 1rem 3rem ;
	font-family: 'Inconsolata', monospace;
	line-height: 2;
  position: relative;
}
.polaroid_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  position: relative;
}
.polaroid div {
  background: #ffffff;
  display: inline-block;
  padding: 1rem 1rem 2rem;
  margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow:0 0.3rem 0.5rem rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, .3);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, .3);
}
.polaroid div:after {
  color: #333;
  font-size: 2rem;
  content: attr(title);
  position: relative;
  top: 1rem;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}
.polaroid img {display: block;}
/* ///Background About// */
.background_about{
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  z-index: -1001;
  overflow: hidden;
}
@keyframes FadeIn{
  from {
    opacity: 0; 
  }
   to {
     opacity: 1;
     }
   
}


.bg{
  background-color:transparent;
  height: 2.5rem;
  margin: 0.5rem 0;
  
 
}
.first{
  border-left: 3rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
  
}
.second{
  border-left: 6rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
  
}
.third{
  border-left: 12rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
  
}
.forth{
  border-left: 18rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.fifth{
  border-left: 26rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.sixth{
  border-left: 36rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.seventh{
  border-left: 44rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.eigth{
  border-left: 52rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.ninth{
  border-left: 60rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
  /* margin-top: 22rem; */
}
.tenth{
  border-left: 66rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.eleventh{
  border-left: 74rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.twelvth{
  border-left: 80rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.thirteenth{
  border-left: 85rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.fourteenth{
  border-left: 90rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.fifteenth{
  border-left: 92rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.sixteenth{
  border-left: 94.9rem solid rgba(235,193,196,0.3);
  animation: FadeInTransform ease 2s ;
}
.background_about_2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  z-index: -1002;
  overflow: hidden;
  right: 7rem;
  top: 4rem;
}
.background_about_3{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  z-index: -1002;
  overflow: hidden;
  right: 7rem;
  top: 84rem;
}
.bg2{
  background-color:transparent;
  height: 2rem;
  margin: 0.3rem 0;
}
.one{
  border-right: 50rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.two{
  border-right: 45rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.three{
  border-right: 40rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.four{
  border-right: 35rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.five{
  border-right: 30rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.six{
  border-right: 25rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.seven{
  border-right: 20rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.eigt{
  border-right: 15rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.nine{
  border-right: 10rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}
.ten{
  border-right: 5rem solid  rgba(153,153,153,0.1);
  animation: FadeInTransformRight ease 2s ;
}


@keyframes FadeInTransform{
  0% {
    border-left: 70rem solid rgba(235,193,196,0.3); 
  }
   100% {
     border-left: 100% solid rgba(235,193,196,0.3);
     }
 
   
}
@keyframes FadeInTransformRight{
  0% {
    border-right: 70rem solid rgba(235,193,196,0.3); 
  }
   100% {
     border-right: 100% solid rgba(235,193,196,0.3);
     }
 
   
}

/* /////Contact///// */

.contact_container{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 0 0 5rem 0;
  min-height: 40rem;
  /* background:linear-gradient(to bottom right, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0.2)); */
  
}
.contactHeader{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 85%;
  margin: 2rem 0 2rem 0;
  padding: 6rem 0 4rem 0;
  background:linear-gradient(to bottom right, rgba(0, 255, 255, 0), rgba(0, 255, 255, 0.2));
  position: relative;
  box-shadow: 5px 5px 5px #f3f6f4;
 
  
  
}
.contactHeader h2{
  font-family: 'Inconsolata', monospace;
  font-size: 2.5rem;
}
.contactCartBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0 0 0;

}
.contact_cart{
  width: 20rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 5px 5px 5px #f3f6f4;
  margin: 0 1rem;
}
.contact_cart h3{
  padding: 2rem 2rem 0 2rem;
  font-size: 1.05rem;

}
strong{
  font-size: 1.5rem;
}

@media only screen and (max-device-width: 767px) {
  body{font-size: 0.6rem; }
  .container{justify-content: center;}
  .shapeBackground3{display: none;}
  pre{ width: unset;padding: 0 1rem ; margin: 1rem 0 1rem 0; line-height: 1; order:1; font-size: 1.6vw;}
  pre span{font-size: 1rem; }
  .color{color: black;}
  .box{order:0;}
  .box{width: 100%;}
  .logoSpan{width: 100%; text-align: center; order: 3;}
  .insta{order: 0;}
  .git{order: 1;}
  .fb{order: 2;}
  .welcome{font-size: 1.5rem; letter-spacing: 0; margin: 1rem 0 0 0; justify-content: center; font-weight: bolder; white-space: unset; text-align: center; background-color: rgba(0, 0, 0, .2); color: white;}
  .nav{margin-top: 1rem;}
  .nav li{width: 10rem; padding:  1rem 0.5rem;}
  .navLink{font-size: 1.5rem;}
  .social{margin-top: 1rem;margin-bottom: 2rem; border-left: unset; padding: 0; justify-content: center; align-items: center; position: unset; order: 2; flex-wrap: wrap;}
  .work_container{padding: 4rem 0 30rem 0;}
  .workCard{width: 10rem;}
  .work_box{ width: 8rem; height: 10rem;}
  img{width: 8rem; height: 10rem;}
  /* .back_card{padding: 1rem; border: 0;} */
  .back_card h1{margin-bottom: 0; font-size: 0.9rem;}
  .back_card p{ font-size: unset;}
  .visit{font-size: 0.8rem; margin-top: 0;}
  .bg{height: 1.5rem;}
  .bg2{height: 1rem;}
  .background_about{visibility: hidden;width: 10rem;}
  .background_about_2{visibility: hidden;}
  .background_about_3{visibility: hidden;}
  .polaroid_box{grid-template-columns: unset; background-color: rgba(235,193,196,0.3); padding: 2rem;}
  .background_about_2{font-size: 1rem;}
  #order2{background-color: rgba(235,193,196,0.3);}
  .contact_cart{border-radius: 0; width: 100%; height: 100%; margin: 1rem;}
  
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px){
  body{font-size: 1.2rem;}
  .container{justify-content: center;}
  .shapeBackground3{display: none;}
  pre{ width: unset;padding: 0 1rem ; margin: 1rem 0 1rem 0; line-height: 1; order:1; font-size: 1.6vw;}
  pre span{font-size: 1.3rem; }
  .color{color: black;}
  .box{order:0;}
  .box{width: 100%;}
  .social{margin-top: 1rem;margin-bottom: 2rem; border-left: unset; padding: 0; justify-content: center; align-items: center; position: unset; order: 2; flex-wrap: wrap;}
  .logoSpan{width: 100%; text-align: center; order: 3;}
  .insta{order: 0;}
  .git{order: 1;}
  .fb{order: 2;}
  .welcome{font-size: 1.7rem; letter-spacing: 0;padding:1rem 0; margin: 2rem 0 0 0; justify-content: center; font-weight: bolder; white-space: unset; text-align: center; background-color: rgba(0, 0, 0, .2); color: white;}
  .work_box{ width: 12rem; height: 15rem;}
  img{width: 12rem; height: 15rem;}
  /* .back_card{padding: 1rem; border: 0;} */
  .back_card h1{margin-bottom: 0; font-size: 0.9rem;}
  .back_card p{ font-size: 1rem;}
  .visit{font-size: 1.2rem; margin-top: 0;}
  .bg{height: 1.5rem;}
  .bg2{height: 1rem;}
  .background_about{visibility: hidden; width: 20rem;}
  .background_about_2{visibility: hidden; font-size: 1rem;}
  .background_about_3{visibility: hidden;}
  .polaroid_box{ background-color: rgba(235,193,196,0.3);grid-column-gap: 0; width: 100%;}
  .background_about_2{font-size: 1rem;}
  #order2{background-color: rgba(235,193,196,0.3);}
  .contact_container{height: 90rem;}
  
}

@media only screen and (min-device-width: 1600px) {
  .social{border-left: 43rem solid black;}
  

}
@media only screen and (min-device-width: 1921px) {
  body{font-size: 1.8rem;}
  .container{justify-content: space-between;}
  .shapeBackground3{width: 50%;}
  .social{border-left: unset; padding: 0; width: 100%;height: 5rem; justify-content: center; align-items: center; }
 
}